Source: pinephone-tweaks
Section: libs
Priority: optional
Maintainer: Arnaud Ferraris <arnaud.ferraris@collabora.com>
Standards-Version: 4.3.0
Rules-Requires-Root: no
Build-Depends: debhelper (>= 12)
Vcs-Git: https://gitlab.com/a-wai/pinephone-tweaks.git
Vcs-Browser: https://gitlab.com/a-wai/pinephone-tweaks

Package: pinephone-tweaks
Architecture: any
Depends: dconf-gsettings-backend | gsettings-backend,
         ${misc:Depends}
Description: Special tweaks for the PinePhone
 Additional configuration files for the PinePhone, including:
   - default GNOME settings more suited to mobile phones
   - a kernel post-install script generated a uImage initramfs
   - default environment variables for helping Qt apps and Firefox behave
     properly under Wayland
