Source: pinephone-tweaks
Section: libs
Priority: optional
Maintainer: Arnaud Ferraris <arnaud.ferraris@gmail.com>
Standards-Version: 4.5.0
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 12)
Vcs-Git: https://gitlab.com/mobian1/devices/pinephone-tweaks.git
Vcs-Browser: https://gitlab.com/mobian1/devices/pinephone-tweaks

Package: pinephone-tweaks
Architecture: arm64
Depends: ${misc:Depends}
Description: Special tweaks for the PinePhone
 Additional configuration files for the PinePhone, including:
   - the crust SCP firmware
   - u-boot boot script and kernel post-install script
   - default phosh config file for a better display resolution
