[Unit]
Description=Enable EG25 modem

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/pinephone-modem-start.sh
ExecStop=/usr/sbin/pinephone-modem-stop.sh

[Install]
WantedBy=ModemManager.service
