[Unit]
Description=Setup modem audio
Requires=ModemManager.service

[Service]
Type=simple
ExecStart=/usr/sbin/pinephone-modem-audio.sh

[Install]
WantedBy=graphical.target
