[Unit]
Description=Configure PinePhone Camera

[Service]
Type=oneshot
ExecStart=/usr/sbin/pinephone-camera-setup.sh

[Install]
WantedBy=multi-user.target
